<body onload="budgetGraph()"> 
<div class="chartBox">
<canvas id="myChart"></canvas>
</div>
   

<script>

function budgetGraph() {
	var Bills = document.BudgetForm.Bills.value,
	Entertainment = document.BudgetForm.Entertainment.value,
	Savings = document.BudgetForm.Savings.value,
	Food = document.BudgetForm.Food.value,
	Misc = document.BudgetForm.Misc.value,
	ctx = document.getElementById('myChart').getContext('2d');
	var   data = {
		labels: ['Bills', 'Entertainment', 'Savings', 'Food', 'Misc'],
		datasets:
		[{
			data: [Bills, Entertainment, Savings, Food, Misc],
			backgroundColor: ['#FFB1C1',"#0000EF",'#9BD0F5','#36A2EB','#000'],
            hoverBackgroundColor: ["#FF0000","#FF0000","#FF0000","#FF0000","#FF0000"]
		}]
	};
	var options = {};
	var myPieChart = new Chart(ctx, {
		type: 'pie',
		data: data,
		options: options
		
	});
}

</script>
 




<h1>
<div id='mainDiv'>
	<div id='formDiv'>
		<form name="BudgetForm" method="post">
			<div class="Row">
			<fieldset id="fieldset">
				<table id='regDetails'>
                    <tr class="column">
						{{!-- <td><label id="expenses_name" for='expenses_nameInput'>Enter the name of your expense</label></td>
						<td><input type='string' value=""  id='expenses_nameInput'/></td> --}}
					</tr>
                        <tr class="column">
						<td><label id="payment_amount" for='payment_amountInput'>Bills</label></td>
						<td><input id="input" type='number' value="20" name="Bills"/></td>
						<td><label id="payment_amount" for='payment_amountInput'>Entertainment</label></td>
						<td><input type='number' id="input" value="20" name="Entertainment"/></td>
						<td><label id="payment_amount" for='payment_amountInput'>Savings</label></td>
						<td><input type='number' id="input" value="20" name="Savings"/></td>
						<td><label id="payment_amount" for='payment_amountInput'>Food</label></td>
						<td><input type='number' id="input" value="20" name="Food"/></td>
						<td><label id="payment_amount" for='payment_amountInput'>Misc</label></td>
						<td><input type='number' id="input" value="20" name="Misc" /></td>
						</tr>
						<button  onclick="budgetGraph()" id="submitButton" type="button">Submit</button>
					<div id="too"></div>
					</form>
					</h1>
					<p id="p">Categorize your bills into these five fields to get a visualization of where your spending the most money! </p>

			<h2><form name ="category">
		  </form>
		</h2>
				</table>
			</fieldset>
			</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>