<section></section>
<p class="title has-text-centered">Expenses App</p>
</section>
<section>
  <div class="level">
    <div class="level-item has-text-centered">
      <figure class='image'>
        <img id="img" src="./images/fin.PNG" alt="Finance Illustration">
      </figure>
    </div>
  </div>
</section>
<section id='homepagetextcontainer'>
  <br />
  <h1>Why use us?</h1>
  <p>
    With recent inflation and prices on just about everything rising use our simple budgeting app to take control of
    your finances! Keep track of weekly cost and monthly bills to see where your spending money the most.
  </p>
  <a href='/login'><button class='is-rounded'>Get Started</button></a>
</section>