      <section class="hero">
        <div class="hero-container">
          <div class="column-left">

            <div class="container">
                <img src="./css/fin.PNG" alt="Finance Illustration">
            </div>
            <h1>Why use us?</h1>
            <p>
            With recent inflation and prices on just about everything rising use our simple budgeting app and take control of your finances!
            </p>
            <a href='/api/expenseForm'><button>Get Started</button></a>
        </div>
