      <section class="hero">
        
          <div class="column-left">

            <div class="container">
                <img id="img" src="./css/fin.PNG" alt="Finance Illustration">
            </div>
            <div class="text">
            <h1>Why use us?</h1>
            <p>
            With recent inflation and prices on just about everything rising use our simple budgeting app to take control of your finances! Keep track of weekly cost and monthly bills to see where your spending money the most.
            </p>
            <a href='/api/expenseForm'><button>Get Started</button></a> </div>
        
