html,
body {
  background-color: #fdcc04;
  min-height: 100%;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.navbar {
  background-color: #fdcc04;
}
a {
  color: black;
}
#chartcontainer {
  /* width: 50vw;
  height: 50vh; */
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}





.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}


























h1 {
  font-size: 3rem;
  font-weight: bold;
}
p {
  /* text-align: center; */
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 2rem;
  color: #000;
}
#homepagetextcontainer {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
#img {
  width: 100%;
  height: auto;
  /* margin: 1rem; */
}
#logo,
#login,
#logout,
#expenses {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

#input {
  height: 2rem;
  background-color: #fdcc04;
  color: #000;
  border-color: #000;
}
.input {
  width: 450px;
  height: 30px;
  margin-bottom: 10px;
}
button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #fdcc04;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}
button:hover {
  background: #fff;
  color: #000;
}

/* .box {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 100px;
  padding: red;
} */

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1a1a1a;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 400px;
  height: 400px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}
#category-list {
  background-color: #fdcc04;
}
#expenses_name {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}
#payment_amount {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}
#submitButton {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #fdcc04;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  margin-left: 48rem;
  margin-bottom: 12rem;
}